.flows.json.backup
[
    {
        "id": "a93b4461de95145d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "37184dbcfdfc4a11",
        "type": "ui_group",
        "name": "Control panel",
        "tab": "753d2883f372bca9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "753d2883f372bca9",
        "type": "ui_tab",
        "name": "Matrix automaton control panel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7ebe18b8828fb9fd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#119399",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cb49ac0f93a84401",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "dc35741cd1282d42",
        "type": "ui_group",
        "name": "Space map",
        "tab": "753d2883f372bca9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ec36f342f7dfa72",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f8d5d2b59768e9a",
        "type": "ui_template",
        "z": "a93b4461de95145d",
        "group": "37184dbcfdfc4a11",
        "name": "control_panel",
        "order": 1,
        "width": "6",
        "height": "6",
        "format": "<button ng-click=\"send({payload: 'left'})\">\n    <<---\n</button>\n<button ng-click=\"send({payload: 'right'})\">\n    --->>\n</button>\n<button ng-click=\"send({payload: 'forward'})\">\n    forward\n</button>\n<button ng-click=\"send({payload: 'back'})\">\n    back\n</button>\n<button ng-click=\"send({payload: 'line'})\">\n    Line tracking\n</button>\n<button ng-click=\"send({payload: 'follow'})\">\n    Follow\n</button>\n<button ng-click=\"send({payload: 'avoid'})\">\n    Avoid\n</button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5805e5db2922b1b3",
        "type": "ui_template",
        "z": "a93b4461de95145d",
        "group": "dc35741cd1282d42",
        "name": "space_matrix",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "<style type=\"text/css\">\n    .tg {\n        border-collapse: collapse;\n        border-spacing: 0;\n    }\n\n    .tg td {\n        border-style: solid;\n        border-width: 0px;\n        font-family: Arial, sans-serif;\n        font-size: 14px;\n        overflow: hidden;\n        padding: 10px 5px;\n        word-break: normal;\n    }\n\n    .tg th {\n        border-style: solid;\n        border-width: 0px;\n        font-family: Arial, sans-serif;\n        font-size: 14px;\n        font-weight: normal;\n        overflow: hidden;\n        padding: 10px 5px;\n        word-break: normal;\n    }\n\n    .tg .tg-syad {\n        background-color: #000000;\n        border-color: inherit;\n        color: #ffffff;\n        text-align: left;\n        vertical-align: top\n    }\n\n    .tg .tg-f8tv {\n        border-color: inherit;\n        font-style: italic;\n        text-align: left;\n        vertical-align: top\n    }\n\n    .tg .tg-0pky {\n        border-color: inherit;\n        text-align: left;\n        vertical-align: top\n    }\n\n    .tg .tg-tw5s {\n        background-color: #fe0000;\n        border-color: inherit;\n        text-align: left;\n        vertical-align: top\n    }\n\n    .tg .tg-c6of {\n        background-color: #ffffff;\n        border-color: inherit;\n        text-align: left;\n        vertical-align: top\n    }\n</style>\n<table class=\"tg\">\n    <thead>\n        <tr>\n            <th class=\"tg-0pky\"></th>\n            <th class=\"tg-0pky\"></th>\n            <th class=\"tg-0pky\"></th>\n            <th class=\"tg-0pky\"></th>\n            <th class=\"tg-0pky\"></th>\n            <th class=\"tg-0pky\"></th>\n            <th class=\"tg-0pky\"></th>\n            <th class=\"tg-0pky\"></th>\n            <th class=\"tg-0pky\"></th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n        </tr>\n        <tr>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n        </tr>\n        <tr>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n        </tr>\n        <tr>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-tw5s\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n        </tr>\n        <tr>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n        </tr>\n        <tr>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n        </tr>\n        <tr>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-c6of\"></td>\n            <td class=\"tg-0pky\"></td>\n        </tr>\n        <tr>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n            <td class=\"tg-0pky\"></td>\n        </tr>\n    </tbody>\n</table>\n<div>{{msg.output}}</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 510,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "74e2d36aef73d57e",
        "type": "function",
        "z": "a93b4461de95145d",
        "name": "matrix_render",
        "func": "var matrix = [[0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8]];\nreturn { output:'Hellow world'};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 80,
        "wires": [
            [
                "5805e5db2922b1b3",
                "ef1480220b2dd511"
            ]
        ]
    },
    {
        "id": "10f39e10f937a5e3",
        "type": "ui_button",
        "z": "a93b4461de95145d",
        "name": "",
        "group": "37184dbcfdfc4a11",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "74e2d36aef73d57e"
            ]
        ]
    },
    {
        "id": "ef1480220b2dd511",
        "type": "debug",
        "z": "a93b4461de95145d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "output",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    }
]