flows.json
[
    {
        "id": "a93b4461de95145d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "504e0ec82f99ab34",
        "type": "inject",
        "z": "a93b4461de95145d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "ab1cdd8ef3f2c290"
            ]
        ]
    },
    {
        "id": "ab1cdd8ef3f2c290",
        "type": "debug",
        "z": "a93b4461de95145d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "c74ea483fc68526e",
        "type": "catch",
        "z": "a93b4461de95145d",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 340,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6dc98bb16b8fcd41",
        "type": "status",
        "z": "a93b4461de95145d",
        "name": "",
        "scope": null,
        "x": 280,
        "y": 320,
        "wires": [
            []
        ]
    }
]